body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #26262F;
  border-color : #1A5F23;
}

.text-align-center {
	text-align:center;
}

.navbar-default .navbar-brand {
	color : #FFFFFF;
}

.navbar-default .navbar-brand:hover{
	color : #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
	color : #FFFFFF;
}
.navbar-default .navbar-toggle {
 border-color: transparent !important;
 color: white;
}
.navbar-toggle:hover {
background-color: #FFFFFF!important;
color: white;
}
.navbar-toggle {
background-color: #FFFFFF !important;
color: white;
}
